.collectionBox_box {
    position: relative;
    width: 300px;
    cursor: pointer;
}

.collectionBox_profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.collectionBox_bgImg {
    height: 80px;
    width: 100%;
    object-fit: cover;
}