.home_show_list {
    width: 340px;
}

.home_bgImg {
    height: 330px;
    width: 100%;
    object-fit:cover;
}

.home_text {
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 800px) {
    .home_show_list {
        width: 660px;
    }
}

@media screen and (min-width: 1200px) {
    .home_show_list {
        width: 970px;
    }
}

@media screen and (min-width: 1400px) {
    .home_show_list {
        width: 1298px;
    }
}