.header_btn_profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.header_btn_profile:active {
    border: 2px solid black;
}

.header_input_form {
    width: 100%;
}

.header_dropdown_form {
    display: initial;
}

.header_filter_form {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_nav {
    position: sticky;
    top: 0px;
    z-index: 200;
    background: white;

}

.header_brand {
    text-decoration: none;
    color: black;
}

.header_brand:hover {
    color: black;
}

.header_cursor_pointer {
    cursor: pointer;
}

.header_create_btn {
    display:initial;
}

.header_profile_create {
    display: none;
}

@media screen and (max-width: 900px) {
    .header_dropdown_form {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .header_create_btn {
        display: none;
    }
    .header_profile_create {
        display: initial;
    }
}

@media screen and (min-width: 800px) {
    .header_input_form {
        width: 300px;
    }
}

@media screen and (min-width: 1100px) {
    .header_input_form {
        width: 400px;
    }
}

@media screen and (min-width: 1300px) {
    .header_input_form {
        width: 600px;
    }
}

@media screen and (min-width: 1500px) {
    .header_input_form {
        width: 800px;
    }
}